body{padding:0;margin:0}
.entry{margin-top:0;margin-bottom:0;margin-left:0;margin-left:auto;margin-right:auto;max-width:640px;padding:0 16px;line-height:2;color:#424b50;word-wrap:break-word;font-size:16px;font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","wenquanyi micro hei",sans-serif,"Apple Color Emoji";-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}.entry div,.entry p,.entry blockquote,.entry pre,.entry ul,.entry ol,.entry table,.entry figure,.entry section,.entry article,.entry header,.entry footer{margin:0;padding:0;margin-top:16px;margin-bottom:16px}.entry div:first-child,.entry p:first-child,.entry blockquote:first-child,.entry pre:first-child,.entry ul:first-child,.entry ol:first-child,.entry table:first-child,.entry figure:first-child,.entry section:first-child,.entry article:first-child,.entry header:first-child,.entry footer:first-child{margin-top:0}
.entry div:last-child,.entry p:last-child,.entry blockquote:last-child,.entry pre:last-child,.entry ul:last-child,.entry ol:last-child,.entry table:last-child,.entry figure:last-child,.entry section:last-child,.entry article:last-child,.entry header:last-child,.entry footer:last-child{margin-bottom:0}
.entry ul div,.entry ol div,.entry ul p,.entry ol p,.entry ul blockquote,.entry ol blockquote,.entry ul pre,.entry ol pre,.entry ul ul,.entry ol ul,.entry ul ol,.entry ol ol,.entry ul table,.entry ol table,.entry ul figure,.entry ol figure,.entry ul iframe,.entry ol iframe,.entry ul section,.entry ol section,.entry ul article,.entry ol article,.entry ul header,.entry ol header,.entry ul footer,.entry ol footer{margin-top:0;margin-bottom:0}
.entry>iframe{display:block;margin-top:16px;margin-bottom:16px}
.entry>img,.entry>video{margin-top:16px;margin-bottom:16px;display:block}
.entry h1,.entry h2,.entry h3,.entry h4,.entry h5,.entry h6{margin-top:0;margin-bottom:12px;padding:0}.entry h1:first-child,.entry h2:first-child,.entry h3:first-child,.entry h4:first-child,.entry h5:first-child,.entry h6:first-child{margin-top:0}
.entry>h3,.entry>h4,.entry>h5,.entry>h6{margin-top:32px}
.entry>h1,.entry>h2{margin-top:64px;}
.entry h1+*,.entry h2+*,.entry h3+*,.entry h4+*,.entry h5+*,.entry h6+*{margin-top:0}
.entry h1,.entry h2,.entry h3,.entry h4,.entry h5,.entry h6{font-weight:inherit}
.entry h1,.entry h2{color:#424b50;background-color:transparent}.entry h1 a,.entry h2 a{color:#424b50}
.entry h1 a,.entry h2 a,.entry h1 em,.entry h2 em,.entry h1 u,.entry h2 u,.entry h1 abbr[title],.entry h2 abbr[title]{border-bottom-color:#424b50}
.entry h3 a,.entry h4 a,.entry h5 a,.entry h6 a{color:#424b50;border-bottom-color:#424b50}
.entry h1{font-size:30px;line-height:48px;text-align:center}
.entry h2{font-size:23px;line-height:32px;text-align:left}
.entry h3{font-size:18px;line-height:32px;text-align:left}
.entry h4,.entry h5,.entry h6{line-height:32px;font-size:16px;text-align:left}
.entry blockquote{position:relative;padding:32px 64px}
.entry blockquote:before{position:absolute;content:'\275D';top:0;left:16px;font-size:3em;color:#ccc}
.entry blockquote:after{position:absolute;content:'\275E';bottom:0;right:16px;margin-right:-0.25em;font-size:3em;color:#ccc}
.entry pre{padding:15px 16px;line-height:16px;font-size:14px;white-space:pre;word-wrap:normal;overflow:auto;font-family:consolas,monaco,monospace,serif;border:1px solid #e1e1e8;border-right:none;border-left:none;background-color:#f7f7f9}
.entry ul,.entry ol{padding-left:32px}.entry ul li,.entry ol li{margin:0;padding:0;list-style-position:outside}
.entry ul li{list-style-type:square}.entry ul li ul li{list-style-type:disc}.entry ul li ul li ul li{list-style-type:circle}
.entry ol li{list-style-type:decimal}.entry ol li ol li{list-style-type:upper-roman}.entry ol li ol li ol li{list-style-type:lower-roman}
.entry li>ul,.entry li>ol{padding-left:32px}
.entry hr{position:relative;padding-top:32px;margin-top:-2px;margin-bottom:64px;height:0;background:none;border:none;border-bottom:2px dashed #888}.entry hr:before,.entry hr:after{content:'';position:absolute;bottom:-2px;width:30%;height:2px;pointer-events:none}
.entry hr:before{left:0;background-image:-webkit-linear-gradient(right, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);background-image:-moz-linear-gradient(right, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);background-image:-ms-linear-gradient(right, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);background-image:-o-linear-gradient(right, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);background-image:linear-gradient(right, rgba(255,255,255,0) 0, #fff 80%, #fff 100%)}
.entry hr:after{right:0;background-image:-webkit-linear-gradient(left, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);background-image:-moz-linear-gradient(left, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);background-image:-ms-linear-gradient(left, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);background-image:-o-linear-gradient(left, rgba(255,255,255,0) 0, #fff 80%, #fff 100%);background-image:linear-gradient(left, rgba(255,255,255,0) 0, #fff 80%, #fff 100%)}
.entry table{display:table;padding:0;margin-left:auto;margin-right:auto;min-width:336px;border-collapse:collapse;border-spacing:0;-webkit-border-radius:.5em;-moz-border-radius:.5em;-ms-border-radius:.5em;-o-border-radius:.5em;border-radius:.5em}.entry table caption{padding:0}
.entry table thead th{text-align:left}
.entry table tbody{margin:0 16px}.entry table tbody tr:nth-child(odd) td,.entry table tbody tr:nth-child(odd) th{background-color:#f9f9f9}
.entry table tbody tr:last-child td,.entry table tbody tr:last-child th{padding-bottom:6px}
.entry table td,.entry table th{padding:8px 16px 7px;border:1px solid #ddd}
.entry iframe{vertical-align:text-bottom}
.entry a{padding-bottom:.025em;color:#069;text-decoration:none;border-bottom-color:#08c}.entry a:focus{outline:thin dotted}
.entry a:visited{color:#551a8b;border-bottom-color:#551a8b}
.entry a:hover{border-bottom-width:1px;border-bottom-style:solid}
.entry a:hover,.entry a:active{outline:0}
.entry b,.entry strong{font-weight:bold}
.entry u,.entry em{padding-bottom:.05em;font-style:inherit;font-weight:inherit;border-bottom:2px dotted #8b98a0}
.entry u{text-decoration:inherit;border-bottom-width:1px;border-bottom-style:solid}
.entry em+em,.entry em+u,.entry u+em,.entry u+u{margin-left:.125em}
/*
.entry code{padding:0 .25em;margin:0 .25em;background:#fee9cc;font-family:consolas,monaco,monospace,serif;font-size:16px;color:#424b50;-webkit-border-radius:.25em;-moz-border-radius:.25em;-ms-border-radius:.25em;-o-border-radius:.25em;border-radius:.25em}
.entry pre code{padding:0;margin:0;font-size:14px;color:#424b50;background:none;border:none}
*/
.entry img,.entry video{max-width:100%;border:0}
.entry figure img{display:block;margin:0 auto}
.entry figure figcaption{display:block;text-align:center;font-style:italic}
.entry cite{font-style:inherit}.entry cite:before,.entry cite:after{content:"《";line-height:inherit}
.entry cite:after{content:"》"}
.entry abbr[title]{padding-bottom:.05em;cursor:help;border-bottom:1px dotted #424b50}
.entry dfn{font-style:italic}
.entry mark{background:#ff0;color:#424b50}
.entry q{quotes:"\201C" "\201D" "\2018" "\2019"}
.entry small{font-size:80%}
.entry sub,.entry sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
.entry sup{top:-0.5em}
.entry sub{bottom:-0.25em}
.entry #disqus_thread{margin-top:32px}

.entry code,
.entry kbd,
.entry pre,
.entry samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

.entry code {
    /* background-color: #F9F9F9; */
    /* border: 1px dashed #2F6FAB; */
    color: black;
    /* padding: 0.1em; */
}

.entry pre {
	white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
	padding-left: 8%;
}

.entry div.codeblock {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 130%;
}

.highlight .c{color:#999988;font-style:italic}
.highlight .err{color:#a61717;background-color:#e3d2d2}
.highlight .k{font-weight:bold}
.highlight .o{font-weight:bold}
.highlight .cm{color:#999988;font-style:italic}
.highlight .cp{color:#999999;font-weight:bold}
.highlight .c1{color:#999988;font-style:italic}
.highlight .cs{color:#999999;font-weight:bold;font-style:italic}
.highlight .gd{color:#000000;background-color:#ffdddd}
.highlight .gd .x{color:#000000;background-color:#ffaaaa}
.highlight .ge{font-style:italic}
.highlight .gr{color:#aa0000}
.highlight .gh{color:#999999}
.highlight .gi{color:#000000;background-color:#ddffdd}
.highlight .gi .x{color:#000000;background-color:#aaffaa}
.highlight .go{color:#888888}
.highlight .gp{color:#555555}
.highlight .gs{font-weight:bold}
.highlight .gu{color:#800080;font-weight:bold}
.highlight .gt{color:#aa0000}
.highlight .kc{font-weight:bold}
.highlight .kd{font-weight:bold}
.highlight .kn{font-weight:bold}
.highlight .kp{font-weight:bold}
.highlight .kr{font-weight:bold}
.highlight .kt{color:#445588;font-weight:bold}
.highlight .m{color:#009999}
.highlight .s{color:#d14}
.highlight .na{color:#008080}
.highlight .nb{color:#0086B3}
.highlight .nc{color:#445588;font-weight:bold}
.highlight .no{color:#008080}
.highlight .ni{color:#800080}
.highlight .ne{color:#990000;font-weight:bold}
.highlight .nf{color:#990000;font-weight:bold}
.highlight .nn{color:#555555}
.highlight .nt{color:#000080}
.highlight .nv{color:#008080}
.highlight .ow{font-weight:bold}
.highlight .w{color:#bbbbbb}
.highlight .mf{color:#009999}
.highlight .mh{color:#009999}
.highlight .mi{color:#009999}
.highlight .mo{color:#009999}
.highlight .sb{color:#d14}
.highlight .sc{color:#d14}
.highlight .sd{color:#d14}
.highlight .s2{color:#d14}
.highlight .se{color:#d14}
.highlight .sh{color:#d14}
.highlight .si{color:#d14}
.highlight .sx{color:#d14}
.highlight .sr{color:#009926}
.highlight .s1{color:#d14}
.highlight .ss{color:#990073}
.highlight .bp{color:#999999}
.highlight .vc{color:#008080}
.highlight .vg{color:#008080}
.highlight .vi{color:#008080}
.highlight .il{color:#009999}
.highlight .gc{color:#999;background-color:#EAF2F5}
