@charset 'utf-8';

body {
	padding-left: 15%;
	padding-right: 15%;
	font-family: "Times New Roman", "华文宋体";
}

h1 {
	font-size: 3vh;
}

h2 {
	font-size: 2.5vh;
}

h3,h4,h5,h6  {
	font-size: 1.7vh;
}

p {
	font-size: 1.6vh;
	text-indent: 3.2vh;
	line-height: 140%;
}

ul, ol {
	line-height: 150%;
	position: relative;
	padding-left: 8%;
	padding-right: 8%;
}

li {
	font-size: 1.6vh;
	text-indent: 8px;
}

code {
    background-color: #F9F9F9;
    /* border: 1px dashed #2F6FAB; */
    color: black;
    font-family: "Courier New";
    /* padding: 0.1em; */
}

pre {
	font-size: 1.4vh;
	padding-left: 8%;
}

kbd {
	text-indent: 0;
	font-size: 1.4vh;
	margin: 0px 0.1em;
	padding: 0.1em 0.4em;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	font-family: Arial,Helvetica,sans-serif;
	display: inline-block;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
	background-color: rgb(247, 247, 247);
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
}